<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ex.schoolride">
    <!-- Permissions for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolRide"
        tools:targetApi="31">
        <activity
            android:name=".UpdateUser"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".incomeAndExpense"
            android:exported="false" />
        <activity
            android:name=".termsAndCondition"
            android:exported="false" />
        <activity
            android:name=".DistanceCalculation"
            android:exported="false" />
        <activity
            android:name=".UpdateVehicleProfile"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".VehicleProfile"
            android:exported="false" />
        <activity
            android:name=".UpdateDriver"
            android:exported="false" />
        <activity
            android:name=".DriverProfile"
            android:exported="false" />
        <activity
            android:name=".vehicleHome"
            android:exported="false" />
        <activity
            android:name=".VehicleRegistration"
            android:exported="false" />
        <activity
            android:name=".PaymentAdd"
            android:exported="false" />
        <activity
            android:name=".UpdateStudent"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".VehicleQr"
            android:exported="false" />
        <activity
            android:name=".StudentRegistration"
            android:exported="false" />
        <activity
            android:name=".DriverHome"
            android:exported="false" />
        <activity
            android:name=".StudentHome"
            android:exported="false" />
        <activity
            android:name=".DRegistration"
            android:exported="false" />
        <activity
            android:name=".StudentProfile"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>